<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <% data.forEach(function(user){ %>

        <p><%= user.nomSauv %></p>
        <p><%= user.prenomSauv %></p>
        <p>Né le <%= user.naissanceSauv %></p>
        <p>Décéder le <%= user.mortSauv %></p>
        <p>Il était <%= user.metierSauv %> </p>

        <%  })%> 

        <%= decoration %>
         

</body>
</html>